[2014-07-11 07:09] eftewuer opened #1 "Provide project files"
So as already stated on bitbucket issues list: Please add project files to this new repo so keepalive plugin project can be opened in JDeveloper without additional steps.

[2014-07-11 19:04] scristalli opened #2 "Doesn't work on SQL Developer Version 4.0.1.14"
Anonymous user reported on Bitbucket that the extension doesn't work on version 4.0.1.14

[2014-07-11 19:04] scristalli opened #3 "Optional logging"
Currently, the extension logs to the SQL Developer log panel. This causes a loss of focus in the query panel when a keepalive event is triggered, and a click on said panel is required in order to keep working on the document.

After this improvement, when asking for the timeout value the extension will also offer the possibility to enable logging (disabled by default).

[2014-07-17 12:07] #1 closed, assigned to scristalli

[2014-07-21 12:51] #2 closed, assigned to scristalli

[2014-08-04 10:26] eftewuer opened #5 "Download directory"
Sorry for maybe silly question but is there a download directory on the repo where the compiled version of the plugin can be downloaded?

The wiki (https://github.com/scristalli/SQL-Developer-4-keepalive/wiki/English-guide) says "Download this file: keepalive.zip (available in this repository under Downloads)."

[2014-08-13 22:59] #5 closed, assigned to scristalli

[2014-08-18 12:42] #3 closed, assigned to scristalli

[2014-12-10 04:17] samuelisme opened #6 "After the zip is installed, no icon shows up."
After I installed the zip file, no icon shows up. This happened after I installed it successfully, uninstalled it and try to install it again.

[2014-12-23 16:58] idsphilipmears opened #7 "org.netbeans.InvalidException after installing the extension"
After installing keepalive.zip (v1.2) module, SQL Developer fails to start with the following error:

Warning - could not install some modules: oracle.peek
- org.netbeans.InvalidException: Netigso: C:\Tools\sqldeveloper-4.0.0.13.80-no-jre\ide\lib\peek.jar: Not found bundle:oracle.peek oracle.external.xmlparser
- org.netbeans.InvalidException: Netigso: C:\Tools\sqldeveloper-4.0.0.13.80-no-jre\exter

[2015-01-09 17:37] burglar commented on #6
It happened to me too. But for me, when I removed the jar file from the extensions folder, the extension did not get fully uninstalled, I still had the icon. So I went in Tools > Features and selected the "Installed Updates" tab. Then I just selected keepalive and press the uninstall button.
After restart the icon disapeared.
Then I went to install again and the icon stopped apearing. It looks lik

[2015-01-14 12:09] kilx commented on #6
I had this happen to me as well on Windows 7. However I solved the problem by starting SQL Developer with right click and "Run as administrator" and then installing the extension again. Didn't bother uninstalling after the first failed attempt.

Anyhow with the run as admin the icon appeared, not next to the save all button though but at the very end of the toolbar.

[2015-01-14 12:12] kilx opened #8 "Running the extension automatically at startup"
Please add option for the extension to start automatically. Or remember the previous state after SQL Developer restart.

[2015-01-15 18:31] scristalli commented on #8
This is a good suggestion, however currently I'm not able to put time into the development of this extension, even for a small change. I'll probably have some time in March, in the meantime if someone wants to take care of this I'll be happy to merge. Just please keep changes to a minimum for the same reason (less time to verify before merging).

[2015-01-15 18:34] scristalli commented on #7
Thanks for reporting. I have no idea why this happens, I'll try reproducing the bug and get back later.

[2015-01-15 18:43] scristalli commented on #6
It seems to me that these problems are not entirely my extension's fault, but also due to a bad handling from SQL Developer of plugin installing/uninstalling. Do you agree?
Of course there might be some errors in the extension package, but I think that good software should refuse to install a broken plugin instead of breaking.
I think klix suggestion to run SQL Developer with privileges is good if

[2015-01-16 09:42] burglar commented on #6
I agree with you, I think  most of the problem here is the way SQL Developer handles extensions.
Running SQL Developer with privileges doesn't work for me, so there might be other causes underlying.
I'll keep trying to find another way to work around it and if I find something I'll report back.

[2015-02-05 08:54] bricomatica opened #9 "Keepalive does not work on sqldeveloper-4.0.3.16.84"
After installing both 1.00 and 1.02 version of keepalive in the latest version of sqldeveloper (sqldeveloper-4.0.3.16.84) I can see the icon but when I click on that I get the following message:

Error during handleEvent on action 'keepalive' (id=351).
None of the attached controllers handled the action.
 - oracle.ide.controller.IdeAction$ControllerDelegatingController@1ad9584d[oracle.ideimpl.cont

[2015-03-11 14:18] Gene333 commented on #6
I'm running windows 7 64 bit, and SQL Developer 4.0.3, and am having the same issue. I've tried the 'run as admin' trick too but nothing will get the icon to show up

[2015-04-28 18:24] joelferreira opened #10 "SQL Developer Extension Development"
Hi,

I'm new to the development of extensions for SQL Developer. While I was reading about it, I found you extension, and it has some things that are like what I want to develop, so I was trying to use your code for some tests. I was able to install the extension, using your .zip file. However, when i tried to change something (like the dialog message when you click in the icon) and create a simil

[2015-05-11 11:34] benve83 commented on #7
Same for me, I've installed Netbeans 8.0.2.

Let us as soon as possibile.

Kind regards

[2015-05-26 13:57] scristalli commented on #10
It is a good idea to make a tutorial for modifying and recompiling the extension, in fact the major challenge while developing the extension has been finding the documentation and making the examples work.
I plan to make such a guide, but at the moment I don't have time for this project. A realistic date for me to complete this would be September 2015. I would give you quick advice if I could, but

[2015-06-17 07:46] rawson2 opened #11 "SQL Developer 4.0.3 - icon dissapears after restart"
I managed to install the extension succesfully. Unfortunately, after next restart of SQL Developer the icon dissapeared. The application doesn't show the installed extension in Tools -> Features... -> Installed Updates.
I checked if the files went missing, but they are all in their place in the folders of sqldeveloper application.
I tried to install keepalive again and the icon appears right after

[2015-06-30 18:35] wblumstengel opened #12 "SQLDeveloper 4.1.1 Keepalive Icon Missing from Toolbar"
Just upgraded to SQLDeveloper 4.1.1 and reinstalled Keepalive.  However, the Keepalive icon does not appear on the toolbar after installation.

[2015-07-19 08:12] jdiazest opened #13 "Keepalive plugin leaves open cursors"
Keepalive plugin leaves open cursors when having several connections configured, and after some time with plugin enabled, the following error appears:

KEEPALIVE [08:29:34] INFO: keepalive event triggered, scanning 14 connections...
KEEPALIVE [08:29:35] ERROR: ORA-01000: número máximo de cursores abiertos excedido

Looking at ConnectionPinger.java, it can be seen that only the Statement of the las

[2015-08-06 15:22] aullik commented on #12
Same here. SQL Dev doesnt seem to upgrade. I cannot find it in 'Features and Updates'.

[2015-08-24 09:37] jdiazest commented on #12
Hello, I have just upgraded from SQLDeveloper 4.0.3 to 4.1.0 and keepalive icon disappeared.

I manually deleted old files of keepalive instalation and then reinstalled Keepalive and it already works ok.

[2015-08-24 17:38] #13 closed

[2015-08-24 17:42] scristalli commented on #11
Plase specify the following details regarding your installation:
- operating system
- keepalive version

[2015-08-24 17:45] scristalli commented on #13
Resolved in Release 1.3 thanks to jdiazest.

[2015-08-24 17:50] scristalli commented on #12
If we can have feedback from at least another user having this problem and @jdiazest solution works, I think we can mark this as resolved and include the workaround in the Wiki.

[2015-08-24 18:04] scristalli commented on #10
"How to build" is now available in the Wiki! :)
Please provide feedback if you want.

[2015-08-24 18:04] #10 closed

[2015-08-25 07:53] scristalli commented on #11
I'm unable to reproduce the bug on Ubuntu Linux 14.10, SQL Developer 4.0.3, keepalive 1.3

[2015-08-25 07:55] scristalli commented on #11
I'm closing the issue as "cannot reproduce" for now, if you can provide more detail we might re-open.

[2015-08-25 07:55] #11 closed

[2015-08-31 16:50] wblumstengel commented on #12
Hi

I am running v4.1.1 build 1959.  I think the solution is not so much removing old files associated with keepalive, but instead launching SQLDeveloper with admin privileges (i.e. starting SQLDeveloper by right-clicking on the program icon (or shortcut) and selecting "run as administrator").  Once I started SQLDeveloper with admin privileges, I could install keepalive, and the keepalive toolbar

[2015-09-03 21:11] RichardSoule commented on #12
To follow up on wblumstengel's comments, it's definitely a permissions issue. On Linux (installed sqldeveloper as root, using it as oracle/others) you have to go through a whole bunch of machinations settings the permissions/ownership of various files/directories to get things to work. Using command line to start sqldeveloper helped me track everything down. I had to restart it a few times, but ea

[2015-09-15 11:02] scristalli commented on #8
It seems that this might be harder than I thought, considering that OSGi performs lazy loading of extensions and there is no trigger for startup.

I will not try to develop this feature, but I will leave this issue open in case someone comes up with an idea.

[2015-09-15 12:03] scristalli commented on #12
I'm closing this, as it appears the problem has been identified (and a solution has been provided).
@RichardSoule if you have different commands from the brutal ```chmod 666``` that I reported in the wiki, feel free to edit the wiki directly,

[2015-09-15 12:03] #12 closed

[2015-09-15 12:16] scristalli commented on #6
@Gene333 and anyone else still having problems: I'm going to close this issue as I think it's now clear that this type of problem has nothing to do with the extension development, but rather with external variables like file permissions, and most users succeeded in resolving the problems (cf. issue #12).

Please make sure that you run SQL Developer with elevated privileges, and only then (re)insta

[2015-09-15 12:16] #6 closed

[2015-09-15 12:17] scristalli commented on #6
Closing as related to issue #12, the same resolution applies.

[2015-09-15 12:27] scristalli commented on #7
This issue makes me think that your installation of SQL Developer doesn't include some libraries that are needed by the extension, for example the oracle.ide bundle ([MANIFEST.MF](https://raw.githubusercontent.com/scristalli/SQL-Developer-4-keepalive/master/SQL%20Developer%204%20keepalive/src/META-INF/MANIFEST.MF)).

Is there a chance you could try with another version of SQL Developer?

In case I

[2015-09-15 12:36] scristalli commented on #9
This is very strange, since the controller will always return true in handleEvent(). I have no ideas, and no ways to reproduce the bug. To work on it, I'm afraid more information is needed. Anyone else having this issue?

[2015-09-16 09:10] seliver commented on #9
In my case, the extension will not appear at all.
Steps to reproduce:
- I installed from update, but selected no to restart as I had to save some scripts
- tried exiting the sqldeveloper through alt+f4 but it failed, so had to kill the process
- on starting, the icon did not appear
- tried installing again, but now selected to restart
- after restarting, the icon kept not appearing.

What do you t

[2015-09-16 11:02] scristalli commented on #9
@seliver, did you try running SQL Developer as administrator as suggested in some closed issues?
If not, please try to re-run the program with privileges, re-install the extension and restart.

[2015-09-16 16:58] seliver commented on #9
Will try that and give feedback.

[2015-09-21 10:48] seliver commented on #9
I did opened sqldeveloper with sudo, installed and indeed it worked, but only when executed under sudo.

[2015-09-21 11:02] seliver commented on #6
I can confirm that this is a problem caused by permission. Solved by installing sqldeveloper in my home folder.

[2015-10-02 11:51] BobSt opened #15 "When opening a second SQL Developer session, the plugin is not available."

[2015-10-05 07:53] scristalli commented on #15
Do you mean a second instance of SQL Developer? I just opened two instances and both had the extension available. Please provide the necessary details to reproduce the problem.

[2015-10-05 08:04] scristalli commented on #7
I'm marking this as "not a bug" as it is clear to me that it is not dependent on the implementation. Since I have not received feedback I'm also going to close, please reopen with additional details if you have them.

[2015-10-05 08:04] #7 closed

[2015-10-29 13:24] scristalli commented on #15
Having received no feedback, I'm going to close this (cannot reproduce without additional detail).

[2015-10-29 13:24] #15 closed

[2015-10-31 13:49] scristalli commented on #9
@seliver problem has been solved (duplicate of other issues related to permissions), while the issue pointed out by @bricomatica still has not been reproduce.
I'm going to close this for now.

[2015-10-31 13:49] #9 closed

[2016-03-02 11:55] EmteZogaf opened #16 "Make keepalive query editable per connection"
I use sqldeveloper for other databases than oracle, e.q. PostgreSQL, which throws an error on query "SELECT SYSDATE FROM DUAL;".

A configurable query for each connection which defaults to "SELECT SYSDATE FROM DUAL;" would solve the issue.

[2016-03-07 18:18] scristalli commented on #16
This makes sense, actually it would be great to have keepalive running only on certain connections, with every parameter configurable (keepalive frequency, keepalive query).
I do not have time now to put into the development of this feature, I will probably be able to release it in May (if someone wants to do it before, I'll be happy to merge).

[2016-04-11 10:30] scristalli commented on #8
I have been able to do some additional research on this. Not only this seems to be forbidden by design, but also I was not able to find a hack around the issue.

This feature will **not** be developed.

[2016-04-11 10:30] #8 closed

[2016-05-26 17:23] c094728 opened #17 "Reconnecting to network causes sql developer to hang"
If I switch from wired to wireless on my laptop or perform network repair.  SQL developer appears to hold on to stale connection and hang if I don't perform disconnect or reconnect action on connection and even then sometimes it hangs.

[2016-09-05 17:24] darioajr opened #18 "Don´t work with Mac OS X 10.11.6 and SqlDeveloper 4.1.3"
don ´t show icon.

[2016-09-07 12:04] slugo100 opened #19 "Deleted half of my connections after install"
Have half as many connections I as did before install.   Not happy.

[2016-09-07 12:50] scristalli commented on #19
Sorry to hear that, but your problem has hardly anything to do with the extension's code.
Similiar issues have been reported, such as this one listed in the [wiki](https://github.com/scristalli/SQL-Developer-4-keepalive/wiki/English-guide):

Since this does not happen to everyone, it's likely to depend on some particular condition in your environment/your particular SQL Developer version in my opi

[2016-09-07 13:12] slugo100 commented on #19
Why would the install overwrite my current connections.xml with what appears to be an older version from a previous install?  Not good.  Not my fault.  Bad.  I have the most current version installed  4.1.3.20.  Why is the install altering the connections.xml file at all anyway - leave it alone.

[2016-09-07 13:27] scristalli commented on #19
The beaty of open source is that you can verify by yourself that nothing in the extension refers to connections.xml
The installation passes through SQL Developer's OSGi framework, and simply registers the classes with the appropriate hooks.
There are two possible cases here:

1.  There is a major bug in the extension, which causes your problem
2.  Something else is causing it, and it's not related

[2016-09-29 11:35] lamikam opened #20 "wont install"
following install steps.  Add zip file in check for updates, pick it, hit next, then goes not progress to next step.  can only cancel update window.

[2016-09-30 14:43] RASMiranda opened #21 "New icon doesn't appear"
Java(TM) Platform 1.8.0_60
Oracle SQL Developer IDE 4.1.3.20.78
Windows 7 Enterprise SP1 64-bit

I've completed the installation according to the wiki but the new icon doesn't appear, as you can see:
![keepaliveissue](https://cloud.githubusercontent.com/assets/3763299/18995525/3dbd985e-8735-11e6-933b-33a3641a887d.png)

[2016-12-09 15:43] derwin12 commented on #19
Same here for me .. lost my connections. I guess this isnt for me anyways as I wanted it to keep my hive connection open and selecting from dual wont help me.

[2017-01-13 16:27] lamikam opened #22 "Won't install on 4.1.5.21"
Followed steps - Zip does not contain a bundle manifest in META-INF/bundle.xml

[2017-04-04 09:54] lbischof84 commented on #19
I can confirm this also as a bug, but I am quite sure this has nothing to do with this plugin.

Some of my connections also got lost after installing this plugin and restarting sql developer. The thing was, that on some db connections the login credentials have also been reverted to old values (e.g. our internal test server has been moved to a new machine).

After some research i have found a conf

[2017-04-06 19:45] dlenski commented on #19
Happened to me too… rrggh. The only thing I'd suggest is to **make the warning about this issue more prominent** [on the wiki page](https://github.com/scristalli/SQL-Developer-4-keepalive/wiki/English-guide).

[2017-04-06 19:50] dlenski commented on #19
I think I know what's going on here.

1. SQL Developer thinks that it is updating itself… not just installing an extension
2. SQL Developer looks for a config directory for an older version of itself:
[code]
3. SQL Developer blindly copies the `connections.xml` from the previous version into the directory for the latest one, even though _you're not actually installing a new version of the SQL Deve

[2017-04-18 16:16] RASMiranda commented on #21
needs to run as administrator

[2017-04-18 16:16] #21 closed

[2017-06-26 21:00] joncarmignani opened #23 "Silently failed install on Version 4.2.0.17.089"
I got through the install from local file and was prompted to restart cleanly.  Upon restart, however, I do not have a keepalive icon as stated in the installation instructions.

I can provide logging info if someone tells me where to find it.

[2017-09-15 20:18] devsd1 opened #24 "sql dev wont open"
Installed the .jar via SQL Developer (4.1.3).  Upon restarting the app, it starts to load and gets to maybe 10%, then quits.  Neither rebooting nor removing keepalive helps.   Can I load SQL Dev without any extensions?  How do I completely remove keepalive?

[2018-01-12 15:20] dademiller commented on #22
same problem, did you solve it? thx

[2018-02-01 18:13] guillermoml commented on #22
Just in case anybody have this problem: you must download the plugin from the [Releases](https://github.com/scristalli/SQL-Developer-4-keepalive/releases) page.
The zip generated from the _Clone or Download_ button causes this message.

[2018-02-21 00:56] lylehenderson commented on #18
I just installed this on Linux for SqlDeveloper 4.1.3.20 and I also don't see an icon anywhere.
However, I might not know where to look, since the help page just says "Click icon".

[2018-03-06 05:27] khalidmehmood opened #25 "Where is the KeepAlive Icon in SQL Developer After Installation"
I have installed the KeepAlive extension successfully.

_One problem was faced during installation as the paths were not correct within zip file. The actual contents of the folder were selected and then again compressed which resulted in correct installable zip file._

**Later after installation I am unable to find where is the KeepAlive option in SQL Developer. Is it specific to a connection or j

[2019-01-25 21:48] jessebax commented on #25
I am also do not see the icon after installing in SQLDeveloper Version 18.2.0.183

[2019-03-20 14:20] mastro83 opened #26 "SQL developer freeze after extension install"
Hi to all, how clean uninstall keepalive extension? It cause problems. Thanks.

[2019-03-20 16:49] #19 closed

[2019-03-20 16:50] scristalli commented on #17
Not an issue of the extension.

[2019-03-20 16:50] #17 closed

[2019-03-20 16:54] scristalli commented on #22
Not an issue of the extension (related to downloading wrong ZIP file).

[2019-03-20 16:54] #22 closed

[2019-03-20 16:58] scristalli commented on #26
Resolved, I assume?

[2019-03-21 08:03] mastro83 commented on #26
I found where uninstall the extension but when I attempt to close sqldeveloper it remains in backgroup for 5-10 minutes inhibiting me to shut down the macbookpro. high sierra.

[2019-03-21 16:43] scristalli commented on #26
This looks to me like the _n_-th bug of SQL Developer due to its inability to correctly handle extensions.
Can you reproduce the bug every time you close SQL Developer? Could you try reinstalling and see if anything changes?

[2019-03-27 11:17] mastro83 commented on #26
E' l'ennesimo bug di SQL Developer. Risolto reinstallandolo.

[2019-03-27 11:17] #26 closed

[2019-08-21 12:28] bertbert72 commented on #16
Not sure if this is still an active project or not.  I've made a small change in my own fork to determine if the database is Oracle.  If so it does the current query.  If not it runs "select 1" instead which should work on most others.  I use it with MS SQL Server and Oracle.

[2019-08-22 18:54] scristalli commented on #16
@bertbert72 I still maintain the project, although no development has been done for a long time. Feel free to make a pull request if you want to share your change. Thank you.

[2019-10-15 08:09] bertbert72 commented on #16
@scristalli I've created a pull request for the changes.  I've had it running against Oracle, SQL Server and Postgres and it has been working fine.

[2019-12-10 16:48] alfabravoteam commented on #24
Tested this on v19 and it shows the same behavior.

[2020-01-09 11:25] mcalicchio opened #28 "Save the value of "Specify poll interval" into the SQL Developer into the properties."
Writing the value the user entered into the properties file would be helpful so he/she wouldn't need to keep reentering that value every time the app comes up.
Also, if we could just write that value in a property value, the app would only need to load it so no need to enter it every time.

[2020-01-22 11:36] scristalli commented on #18
You are looking for the first icon from the right in the image.

![keepalive-icon](https://user-images.githubusercontent.com/7326295/72891109-c65edc80-3d13-11ea-8a57-853c63788f9c.png)

[2020-01-22 11:36] #18 closed

[2020-01-22 11:38] scristalli commented on #25
You are looking for the first icon from the right in the image. If you had problems with the installation, you should provide more information (keepalive works for me with version 19.2.1.247).

![keepalive-icon](https://user-images.githubusercontent.com/7326295/72891196-002fe300-3d14-11ea-92f7-6fc448805bf5.png)

[2020-01-22 11:38] #25 closed

[2020-01-22 11:41] scristalli commented on #24
You should not use a JAR file to install the extension; you should rather use the ZIP file, please read the [wiki](https://github.com/scristalli/sql-developer-keepalive/wiki).

[2020-01-22 11:41] #24 closed

[2020-01-22 11:42] scristalli commented on #23
I know these are old issues; just for future reference: first icon from the right.
keepalive works for me with version 19.2.1.247

![keepalive-icon](https://user-images.githubusercontent.com/7326295/72891478-9d8b1700-3d14-11ea-9b1e-6b41f9e49fc8.png)

[2020-01-22 11:42] #23 closed

[2020-01-22 11:43] #20 closed

[2020-01-22 13:24] scristalli commented on #16
Merged #27. In case more compatibility is needed in the future, we can start from the changes made in the PR.

[2020-01-22 13:24] #16 closed

[2020-05-08 23:24] faradoxuz commented on #18
Move your SqlDeveloper to Application folder

[2020-05-27 16:29] alexandis opened #29 "Can't install the extension. Is it not supposed to work on my version?"
![Annotation 2020-05-27 192657](https://user-images.githubusercontent.com/6149843/83046880-4ee9e280-a050-11ea-8fc1-e4afe210e52e.png)
**Oracle SQL Developer 19.4.0.354**
Sorry - used 'development' version before :) Now everything is fine, thanx.

[2020-05-27 16:32] #29 closed

[2020-05-27 17:03] alexandis commented on #29
But is it possible to remove "Connection has been reset" dialog which pops up anyway?

[2020-05-27 17:45] scristalli commented on #29
@alexandis could you please post a picture of such dialog and say when it appears? Maybe in a separate issue, so we track that improvement/bug/feature request better. Thank you.

[2020-05-27 21:50] alexandis commented on #29
@scristalli Ok. So when I set up the extension and leave my computer unattended - after polling interval passed (probably), I get this:
![image](https://user-images.githubusercontent.com/6149843/83075788-17455f80-a07d-11ea-8707-abd774d073c8.png)
I click "OK" to close the popup - but then I see the previous one, close it - and have to close the before-previous... :) Seems like each time polling hap

[2020-05-28 07:18] scristalli commented on #29
@alexandis that's not supposed to happen, certainly I would not expect the extension to cause this behavior. Please open a new issue to track this, so we can confirm and figure out the problem.

[2020-05-28 08:09] alexandis opened #30 "Popup dialog is shown EACH time polling happens"
When I set up the extension and leave my computer unattended - after polling interval passed (probably), I get this:
![Annotation 2020-06-03 194206](https://user-images.githubusercontent.com/6149843/83664228-6259f800-a5d2-11ea-9413-1fc27c93c021.png)
I click "OK" to close the popup - but then I see the previous one, close it - and have to close the before-previous... Seems like each time polling ha

[2020-05-28 08:12] alexandis commented on #29
@scristalli thanx: [https://github.com/scristalli/sql-developer-keepalive/issues/30](url)

[2020-06-02 23:10] camcco05 opened #31 "zip not contain a bundle manifest in META-INF/bundle.xml"
scristalli,

I tried installing the sql-developer-keepalive-master.zip on both my PC and Mac using "Check for Updates" >> Install From Local Files >> PATH and file: sql-developer-keepalive-master.zip and I keep getting the following error:

"Zip file sql-developer-keepalive-master.zip does not contain a bundle manifest in META-INF/bundle.xml."

Can you all help?

Thanks so much and I look forward

[2020-06-02 23:13] camcco05 commented on #30
@alexandis, I'm getting the same error.  Thank you for posting this!

[2020-06-02 23:53] scristalli commented on #31
@camcco05 it looks like you might be using the ZIP file containing the Git repo. Could you please try using the latest file from the [Releases page](https://github.com/scristalli/sql-developer-keepalive/releases) instead?

[2020-06-03 00:41] camcco05 commented on #31
@scristalli, WOW that fixed it!  Could you make a note about it on your page?  Thank you so much for all the help and developing this app!! :)

[2020-06-03 00:41] #31 closed

[2020-06-17 05:51] JitApex opened #32 "Unable to install extension"
Hi,

I have tried to install the extension multiple times but hitting this issue - it is unable to locate the META-INF/bundle.xml under the zip.  I verified manually the file and folder exist.

bundle.xml -
<update-bundle version="1.3.0"
	xmlns="http://xmlns.oracle.com/jdeveloper/updatebundle"
	xmlns:u="http://xmlns.oracle.com/jdeveloper/update">
	<u:update id="keepalive">
		<u:name>keepalive</u:n

[2020-06-17 09:28] JitApex commented on #32
Just an update after giving direct path  to META-INF under zip , I am able to load the extension but unable to see any extension  icon after restart

[2020-06-17 09:32] scristalli commented on #32
Please refer to issue #31.

[2020-06-17 11:37] JitApex commented on #32
thanks it worked.

[2020-06-17 11:37] #32 closed

[2020-07-15 18:32] marcospont opened #33 "Keep Alive extension not working with SQL Developer 19.2.1.247"
Hi,

I have tried to install keep alive extension on Oracle SQL Developer for Mac, but had no success.

Steps executed:
1) Downloaded from https://github.com/scristalli/sql-developer-keepalive/releases/download/1.3.1/keepalive.zip
2) Help > Check for Updates
3) Install from Local Files, choose keepalive.zip from the Downloads Folder, click Next
4) Keep alive is displayed in a tree view under New I

[2020-07-16 09:38] scristalli commented on #33
@marcospont at the moment it is not possible to use the extension from the contextual menu, for instance to activate it on a per connection basis; it can only be activated from the dedicated menu icon in the top bar (cfr. README).
Could you please confirm if that works, or if you don't see an icon at all?

[2020-07-16 12:14] marcospont commented on #33
Sorry about the confusion. I have mentioned the contextual menu because I
read about it in some tutorial about the extension. About the dedicated
icon, I don't see it in the top bar at all.

Em qui, 16 de jul de 2020 06:38, Stefano Cristalli <notifications@github.com>
escreveu:

[2020-07-16 12:38] scristalli commented on #33
I'm currently unable to reproduce your setup, other users have previously had similar problems on Windows and they were related to permissions.
If fixing the permissions on the JAR was not sufficient, I suspect that the user running SQL Developer needs to have some permissions when the extension is installed.
In the wiki I wrote many years ago
`Make sure that you have writing permissions on the in

[2020-07-16 13:03] marcospont commented on #33
Is there a way to check what is happening in SQLDeveloper behind the scene
when the extension gets installed or when it is launched after the
installation and tries to activate it? Are there any logs or a verbose mode?

Em qui, 16 de jul de 2020 09:38, Stefano Cristalli <notifications@github.com>
escreveu:

[2020-07-16 13:22] scristalli commented on #33
@marcospont I'm not sure. Maybe it will write something to stdout if you launch it from the console, or if it writes a log I would look for it in its home directory (or with `strace`/`lsof`, should it be necessary).
I'm not aware of any verbose mode, but maybe there is one.

[2020-07-16 14:05] marcospont commented on #33
@scristalli found the issue: I had renamed the keepalive.jar in the extensions folder and SQLDeveloper was not finding it during the initialization.

Two links that I found that might be very helpful for anyone troubleshooting this:

SQLDeveloper Debug Mode:
https://www.thatjeffsmith.com/archive/2012/10/using-debug-mode-in-oracle-sql-developer-to-log-sql/

How to redirect SQLDeveloper log to a fil

[2020-07-16 14:05] #33 closed

[2020-07-16 14:09] scristalli commented on #33
@marcospont thank you for your contribution in debugging the extension. If you want, you can update the [wiki](https://github.com/scristalli/sql-developer-keepalive/wiki) your debugging suggestions.

[2020-09-18 06:45] bertbert72 commented on #30
The popup should only appear when a connection is being re-established, so this would imply that the connection is being lost before the keep-alive fires.  In that case you could easily get several popups - it's not the plug-in that shows these, it's SQL Developer itself.  Try making the polling interval smaller and see if this helps.

[2020-09-18 09:49] alexandis commented on #30
Yeap, you are right, I guess. And it did help - so before remote connection was closed according to remote settings which I cannot control - "Keep alive" was triggered. I personally chose 5 min.

[2020-09-18 09:49] #30 closed

[2020-11-29 07:53] TrYkeRm4N opened #34 "Failed to create controler (oracle)"
Hi, I dont know if maybe this project is discontinued but I'll post my errors here.

When I press the keep alive button this happens on log:

SEVERE	309	0	oracle.ide.javaxide.Util	Failed to create oracle.ide.controller.Controller keepalive.KeepaliveController. Class not found on classpath.
SEVERE	310	27	oracle.ideimpl.controller.ControllersHook$RuleBasedController	Cannot handle action 'keepalive'

[2020-12-30 11:18] gdevelekos opened #35 "Keepalive not working with SQL Developer v20.2.0.175?"
I installed it two ways:

1. Using the "get updates" and then importing the .zip file
2. downloading the .jar file and putting it in SQLDEV_HOME/sqldeveloper/extentions

Both ways, after I restart, there is no button on the menu (as there is on my office PC where I use an older SQL_DEV version). There is also no "keep-alive" menu when I right-click on a connection.

Please advise.

[2021-01-21 22:58] dhauverNS commented on #35
@gdevelekos I had a similar problem. I was trying to install to SQL Developer 18.1 running on Windows 10 and experienced the same problems as you. I was able to finally get it to install by running SQL Developer as an administrator and then importing the zip file through the "get updates" dialog. This finally allowed the extension to install and show up in the UI.

[2021-01-22 15:26] gdevelekos commented on #35
Your trick worked for me, thank  you!

[2021-02-08 15:52] scristalli commented on #34
Hi, really sorry to reply only now, but I missed the notifications for a while.
Not sure this is due to DB2 connections, it seems like a specific class is not found.
May I ask if you installed through the suggested methods, buy downloading from https://github.com/scristalli/sql-developer-keepalive/releases and uploading through the menu inside SQL Developer?

[2021-02-08 15:53] scristalli commented on #35
Sorry for missing the notifications on this, glad it was resolved.

[2021-02-08 15:53] #35 closed

[2021-02-08 16:00] scristalli commented on #34
Regarding DB2: at the moment the extension specifically handles only SQL Server and Oracle.
The default query for other vendors is [SELECT 1 AS RESULT](https://github.com/scristalli/sql-developer-keepalive/blob/master/SQL%20Developer%204%20keepalive/src/keepalive/ConnectionPinger.java#L71), but I doubt that it's portable.
We can solve that, I'll probably change it to "SELECT 1 AS RESULT FROM DUAL"

[2021-02-08 16:09] TrYkeRm4N commented on #34
Hi!
I install it using the guide, as you said downloading from releases and uploading through the menu of SQL Dev.

Forget about the DB2, its ok, I managed using other program such like dbVisualizer. But on Oracle I want to keep SQLdeveloper because of the custom reports.

I though this maybe happens because of my custom JDBC URL to connect. I'm using a custom URL JDBC because server is balanced b

[2021-02-19 15:15] alvarogalia opened #36 "No group manifest in bundle.xml"
Error
El archivo zip sql-developer-keepalive-master.zip no contiene ningún manifiesto de grupo en META-INF/bundle.xml.
When trying to import .zip into SQL Developer 20.4.0.379

![imagen](https://user-images.githubusercontent.com/3494470/108522964-24aa1600-72ac-11eb-8213-cb92370a195d.png)

[2021-03-22 03:07] Kianhit commented on #36
I meet the issue too.

[2021-04-15 17:25] Jacob-Riddle opened #37 "No Icon on Tool Bar"
I've just installed Keepalive 1.3.1 on SQL Developer 20.4.1.407 following the README instructions, and the Keepalive icon does not appear on my tool bar. I'm not familiar with SQL Developer, so sorry for the lack of logs.

[2021-04-15 17:28] Jacob-Riddle commented on #36
If you download the zip file from [Releases](https://github.com/scristalli/sql-developer-keepalive/releases) it will work.

[2021-04-15 17:40] Jacob-Riddle commented on #37
It was a permissions issue.

[2021-04-15 17:40] #37 closed

[2021-07-15 20:45] SreecharanChallagundla commented on #7
this issue still exists... 👎

[2021-07-15 21:07] scristalli commented on #7
@SreecharanChallagundla thanks for exhuming.
If you face a problem feel free to open/reopen an issue, but please post new information that might help resolve it, otherwise it is really hard to do something about it (and what I said in my last comment in 2015 is still true). Thank you.

[2021-09-15 13:13] dzgmfg opened #38 "No KeepAlive Icon after installing 1.3.1 on SQL Developer 19.2.1.247 (247.2212) on Windows-10"
I install from the zip, running Sql Developer as administrator. After installing from the zip and and restarting, there is no KeepAlive icon. When I try to re-install, sql developer says: already installed, so keepalive is installed.

[2021-09-16 13:53] jorgeperezg9 opened #39 "No Icon appearing in Menu Bar after installing"
On MacOS Monterey using Oracle SQL Developer 21.2.1.204.

Works for version 19.

[2021-09-16 13:55] #39 closed

[2021-09-16 13:57] jorgeperezg9 commented on #38
Try to download the latest zip from [Releases](https://github.com/scristalli/sql-developer-keepalive/releasesl).

[2021-09-16 14:43] dzgmfg commented on #38
For https://github.com/scristalli/sql-developer-keepalive/releasesl I get a
404; on https://github.com/scristalli/sql-developer-keepalive/releases  I
see no version newer than 1.3.1 which has the label "latest".

Strange enough, the button now appears and stays visible after a restart.
Thank you.

Op do 16 sep. 2021 om 15:57 schreef Jorge Perez ***@***.***>:

[2021-09-16 14:51] jorgeperezg9 commented on #38
https://github.com/scristalli/sql-developer-keepalive/releasesl was a typo, sorry.

[2021-09-28 05:28] stepheneire commented on #28
Yes this would be very useful. It's super annoying having to enter it every time I start Sql Developer.

[2021-10-15 22:19] j-christ opened #40 "keepalive no longer working with Version 21.2.1.204"
Updated to  Version 21.2.1.204, reinstalled keepalive 1.3.1, no icon on toolbar :(

Mac OS 10.15.7 (19H15), Catalina.

[2021-11-26 11:20] manolachedanutz opened #41 "Zip file sql-developer-keepalive-master.zip does not contain a bundle manifest in META-INF/bundle.xml."
Zip file sql-developer-keepalive-master.zip does not contain a bundle manifest in META-INF/bundle.xml.

[2021-11-28 20:08] scristalli commented on #41
Please download the ZIP from the [Releases page](https://github.com/scristalli/sql-developer-keepalive/releases).

[2021-11-30 22:37] mycahmason commented on #35
I just tried installing this on Windows 10, Oracle SQL Developer 19.1.0.094 (Build 094.2042) and the icon didn't show up at first, but running SQL Developer as Admin worked for me and it is keeping my session alive.

Thank you!

[2022-01-13 16:38] msampolwal commented on #40
I have the same problem on Linux with version 21.2.

[2022-03-28 09:46] MarcusHoell commented on #40
Can confirm that there is no icon in version 21.4.1.349

[2022-06-01 12:24] roband7 commented on #40
Running 21.4.2.018
Same problem as noted above, no icon on toolbar.

[2022-07-10 23:35] wearepariah opened #42 "v1.3.1 does not work with SQLDeveloper 4.0.3"
added keepalive v1.3.1 from the releases page to SQLDeveloper v4.0.3 (required in conjunction instant client 11.2 for backwards compatibility with old databases, along with enabling connectivity to newer database), and clicking on the icon has no action (the pop up to enter timeout period does not present).
Installing keepalive v1.3.0 instead resolves this - something about v1.3.1 breaks compatibi

[2022-08-04 05:14] rahulnagar1208 commented on #40
Version 22.2.0.173, installed keepalive , no icon on the toolbar :(
Mac OS
Rahul

[2022-08-25 05:35] miadabdi commented on #40
@rahulnagar1208
@roband7

Same issue here.
When I run SqlDeveloper with sudo, it gets installed and shown, but not without it.
When installing without sudo I get this error in terminal:
[code]
Maybe not a good Idea, but doing this fixed the issue:
[code]

[2022-11-24 11:36] robertuss12 opened #43 "Unshared connections are not polled"
SQL Developer allows to open so-called "unshared connection". It's another connection with the same name to the same database but as independent session. Those connections are not polled by keepalive plugin. It's easy to see in logs, because if you have one standard connection and one unshared then only one info message "successfully kept alive!" is presented during keep alive cycle.

There should